<h3>Login</h3>
<form #loginForm="ngForm" (submit)="login()" class="col-md-4">
    <div>
        <label for="username">Username:</label>
        <input type="text"
               minlength="5"
               class="form-control"
               id="username"
               name="username"
               #username="ngModel"
               [(ngModel)]="user.username"
               required />
        <div class="alert text-danger" [hidden]="username.valid || username.pristine">
            Username must be at least 5 symbols long!
        </div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password"
               minlength="5"
               class="form-control"
               id="password"
               name="password"
               #password="ngModel"
               [(ngModel)]="user.password"
               required />
    </div>
    <div class="alert text-danger" [hidden]="password.valid || password.pristine">
        Password must be at least 5 symbols long!
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!loginForm.form.valid">
        Login
    </button>
</form>