.mobile-container {
    margin: auto;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    z-index: 5;
    position: absolute;
    width: 100vw;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #D56787;
    color: white;
}

.non-link {
    cursor: pointer;
}

a {
    text-transform: uppercase;
}