<div class="jumbotron jumbotron-fluid" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
    <div class="container">
        <h1 class="display-4 col-md-12">Welcome to our freshly new webiste RECIPIX</h1>
        <p class="lead col-md-12">Our website provides the most unique recipes dating from 1000 B.C.&nbsp;Vegetarian, carnivorous or just a regular consumer doesn't matter, we have something for everybody. And don't miss our weekly lottery.&nbsp;<a routerLink="">Read more</a></p>
    </div>
</div>