<div *ngIf="recipe">
  <div class="col-xs-12">
    <ul>
      <li><a routerLink="/recipes/edit/{{recipe._id}}">Edit</a></li>
      <li><a (click)="deleteRecipe()">Delete</a></li>
    </ul>
  </div>
  <div class="col-xs-12">
    <img
      src="{{recipe.imageUrl}}"
      alt="{{recipe.title}}"
      class="img img-fluid">
  </div>

  <div class="col-xs-12">
    <h1>{{recipe.title}}%</h1>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Description: </span>{{recipe.description}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Ingredients: </span>{{recipe.ingredients}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Category: </span>{{recipe.category}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Cooking time: </span>{{recipe.cookingTime}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Servings: </span>{{recipe.servings}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Average ratings: </span>{{(recipe.ratings / 2 / 10).toFixed(1)}}</p>
    <p><span class="description">People rated: </span>{{recipe.peopleRated}}</p>
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" [ngStyle]="{ 'width': recipe.ratings + '%' }"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>

    <div *ngIf="isUserAuth()">
      <div *ngIf="recipe.currentUserRating === 0; else alreadyVoted">
        <div>
          <p class="description">Give a rate for this recipe: </p>
          <app-recipe-rating [rating]='recipe.rating' (ratingClick)='ratingComponentClick($event)'></app-recipe-rating>
        </div>
        <p *ngIf='clickedStars'>The recipe has been given {{clickedStars}} stars</p>
      </div>
      <ng-template #alreadyVoted>
        <p>You have voted with {{recipe.currentUserRating}} stars!</p>
      </ng-template>
    </div>
    <a routerLink="/account/login" *ngIf="!isUserAuth()">Login in order to rate this recipe!</a>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Author: </span>{{recipe.user.username}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Comments: TODO </span>{{recipe.comments}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Added on: </span>{{recipe.dateOfAdded | date: 'dd-MM-yyyy H:mm'}}</p>
  </div>

</div>