<div class="col-md-10 center-spinner" *ngIf="!recipe">
  <i class="fa fa-refresh fa-spin my-spinner"></i>
</div>
<div *ngIf="recipe">
  <div class="col-xs-12">
    <ul *ngIf="recipe.user && recipe.user.username === getUsername()">
      <li><a routerLink="/recipes/edit/{{recipe._id}}">Edit</a></li>
      <li><a (click)="deleteRecipe()">Delete</a></li>
    </ul>
  </div>
  <div class="col-xs-12">
    <img
      src="{{recipe.imageUrl}}"
      alt="{{recipe.title}}"
      class="img img-fluid">
  </div>

  <div class="col-xs-12">
    <h1>{{recipe.title}}%</h1>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Description: </span>{{recipe.description}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Ingredients: </span>{{recipe.ingredients}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Category: </span>{{recipe.category}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Cooking time: </span>{{recipe.cookingTime}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Servings: </span>{{recipe.servings}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Average ratings: </span>{{(recipe.ratings / 2 / 10).toFixed(1)}}</p>
    <p><span class="description">People rated: </span>{{recipe.peopleRated}}</p>
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" [ngStyle]="{ 'width': recipe.ratings + '%' }"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>

    <div *ngIf="isUserAuth()">
      <div *ngIf="recipe.currentUserRating === 0; else alreadyVoted">
        <div>
          <p class="description">Give a rate for this recipe: </p>
          <app-recipe-rating [rating]='recipe.rating' (ratingClick)='ratingComponentClick($event)'></app-recipe-rating>
        </div>
        <p *ngIf='clickedStars'>The recipe has been given {{clickedStars}} stars</p>
      </div>
      <ng-template #alreadyVoted>
        <p>You have voted with {{recipe.currentUserRating}} stars!</p>
      </ng-template>
    </div>
    <a routerLink="/account/login" *ngIf="!isUserAuth()">Login in order to rate this recipe!</a>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Author: </span>{{recipe.user.username}}</p>
  </div>

  <div class="col-xs-12">
    <p><span class="description">Added on: </span>{{recipe.dateOfAdded | date: 'dd-MM-yyyy H:mm'}}</p>
  </div>

  <button class="btn btn-success" (click)="showComments()">{{seeComments ? "Hide" : "Show"}} comments</button>
  <div class="col-md-10" *ngIf="showSpinner && seeComments === false">
    <i class="fa fa-refresh fa-spin my-spinner-comments"></i>
  </div>
  <div class="col-xs-12" *ngIf="seeComments && recipe.comments.length > 0">
    <p><span class="description">Comments: </span></p>
    <ul>
      <li *ngFor="let comment of recipe.comments" class="col-md-8 comments">
        <p><span class="description">User: </span>{{comment.user.username}}</p>
        <p><span class="description">Comment: </span>{{comment.content}}</p>
        <p><span class="description">Date of added: </span>{{comment.dateOfAdded | date: 'dd-MM-yyyy H:mm'}}</p>
      </li>
    </ul>
  </div>
  <div class="col-xs-12" *ngIf="seeComments && recipe.comments.length === 0">
    <p class="description">No comments yet.</p>
  </div>

  <div class="col-xs-12" *ngIf="isUserAuth()">
    <p><span class="description">Add comment: </span></p>
    <div class="col-md-10">
      <form #commentForm="ngForm" (submit)="addComment()" class="col-md-10">
          <div class="form-group">
              <label for="content">Content:</label>
              <textarea class="form-control"
                      type="text"
                      minlength="3"
                      id="content"
                      name="content"
                      #content="ngModel"
                      [(ngModel)]="commentInputModel.content"
                      rows="3"
                      required>
              </textarea>
          </div>
          <div class="alert text-danger" *ngIf="content.invalid && content.dirty">
              Message must be at least 3 symbols long!
          </div>
      
          <button type="submit" class="btn btn-default"
                  [disabled]="commentForm.form.invalid">
              Add
          </button>
      </form>
    </div>
  </div>
  <p><a routerLink="/account/login" *ngIf="!isUserAuth()">Login in order to add comment!</a></p>
</div>