<div class="row">
  <div class="col-md-10 center-spinner" *ngIf="!recipes$">
    <i class="fa fa-refresh fa-spin my-spinner"></i>
  </div>
  <div *ngFor="let recipe of recipes$ | async | paginate: {
      itemsPerPage: pageSize,
      currentPage: currentPage,
      totalItems: totalRecipes
    }" class="col-xs-12 image-container">
    <a routerLink="/recipes/details/{{recipe._id}}" class="list-group-item clearfix">
      <div class="col-md-4">
        <img src="{{recipe.imageUrl}}" alt="{{recipe.title}}" class="img-responsive">
        <h4 class="list-group-item-heading">{{recipe.title}}</h4>
        <hr >
        <p><span class="description">Category: </span>{{recipe.category}}</p>
        <p><span class="description">Cooking time: </span>{{recipe.cookingTime}}</p>
      </div>
    </a>
  </div>
  <div class="col-md-12">
    <pagination-controls (pageChange)="changePage($event)">
  </pagination-controls>
  </div>
</div>