.image-container {
    margin: 5px;
}

a {
    cursor: pointer;
}

img {
    max-height: 150px;
    height: 15em;
    border-radius: 50%;
}

.description {
    font-weight: bold;
    font-size: 1.2em;
}

.center-spinner {
    text-align: center;
    margin: 0 auto;
}

.my-spinner {
    font-size: 80px;
}

@media all and (min-width: 640px) {
    img {
        max-height: 150px;
        width: 9em;
        height: 15em;
        border-radius: 50%;
    }
}