<nav class="menu">
    <ol>
        <li class="menu-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="menu-item">
            <a routerLink="/">About</a>
        </li>
        <li class="menu-item">
            <a class="non-link">Recipes</a>
            <ol class="sub-menu">
                <li class="menu-item">
                    <a routerLink="/recipes/create">Submit new recipe</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/recipes/all">View all</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/">Vegetarians</a>
                </li>
            </ol>
        </li>
        <li class="menu-item">
            <a routerLink="/">Season recipes</a>
            <ol class="sub-menu">
                <li class="menu-item">
                    <a routerLink="/">Summer</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/">Fall</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/">Winter BBQs</a>
                </li>
            </ol>
        </li>
        <li class="menu-item">
            <a routerLink="/">Contact</a>
        </li>
        <li class="menu-item" *ngIf="!isUserAuth()">
            <a class="non-link">Account</a>
            <ol class="sub-menu">
                <li class="menu-item">
                    <a routerLink="/account/login">Login</a>
                </li>
                <li class="menu-item">
                    <a routerLink="/account/register">Register</a>
                </li>
            </ol>
        </li>
        <li class="menu-item" *ngIf="isUserAuth()">
            <a routerLink="">Hello, {{authService.getUser()}}</a>
            <ol class="sub-menu">
                <li class="menu-item">
                    <a routerLink="account/profile">Profile</a>
                </li>
                <li class="menu-item">
                    <a (click)="logout()" routerLink="">Logout</a>
                </li>
            </ol>
        </li>
    </ol>
</nav>