<div class="col-md-5 pull-right" (click)="clearData()">
    <div class="search-container pull-right col-md-12">
        <input [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" search-recipe-input type="text"
            placeholder="Search...">
        <div class="search"></div>
    </div>
    <div *ngIf="recipes && recipes.length > 0" class="customized-container pull-right col-md-8">
        <div *ngFor="let recipe of recipes" class="col-md-12 recipe-cursor">
            <a routerLink="/recipes/details/{{recipe._id}}" (click)="clearData()" class="flex-type">
                <img src="{{recipe.imageUrl}}" alt="{{recipe.title}}" class="img-fluid col-md-4 fixed-img">
                <h6 class="col-md-4">Title >> {{recipe.title}}</h6>
                <h6 class="col-md-4">Category >> {{recipe.category}}</h6>
            </a>
            <hr>
        </div>
    </div>
</div>