/* You can add global styles to this file, and also import other style files */
#particles-js {
    min-height:100vh;
}
#particles-js canvas {
    z-index: -1;
    position:fixed;
    top:0;
    background-image: url("./assets/background-img.jpg");
    background-size: cover;
    background-position-y: bottom;
    pointer-events: all;
    cursor: pointer;
}

#particles-js canvas:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
}

#content-wrap {
    margin:auto;
    background-color:white;
    padding:0 8px;
    border-radius: 8px;
    border-bottom: 4px solid black;
    padding-top:180px;
}

nav.menu {
}

nav ol {
    padding-inline-start: 0px;
}
body{
    position:relative;
    pointer-events: none;
    line-height: 2;
    overflow-y:scroll;

}
app-root{
    pointer-events: all;
}

app-header{
    position: absolute;
    width: 100%;
    margin-top: -180px;
    z-index: 2;
    left:0;
}