<div class="about-row">
<div class="col-md-12">&nbsp;</div>
<p>Our vision is to have universal platform, which will help the people who might need an advice in everyday life. Providing recipes for people across the world without considering nation or religion. We would be really happy if we could connect Asian cuisine with European one, in a slightly different way, rather than just ordering food directly from the restaurants.Our mission is to provide free valuable service which allows customers all across the world to share their cuisines and make world more connected through food.</p>
<h5>The team members:</h5>
<div class="row">
    <div class="col-md-4">
        <i class="fa fa-user-secret" style="font-size:150px;"></i>
        <h3>Stefan Minchev</h3>
        <h4>Co-Founder, CEO</h4>
        <p>"Well, I think the golden rule I can think of is the fact that you must follow your passion and do something that's close to your heart. And I think that that's very important, well, to be successful and to be happy."Kumar Mangalam Birla</p>
        <ul>
            <li>
                <a href="https://www.facebook.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook-square fa-stack-2x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank">
                    <span class="fa-stack fa-lg">
                            <i class="fa fa-instagram fa-stack-2x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <i class="fa fa-user-md" style="font-size:150px;"></i>
        <h3>Lukas Vacklavec</h3>
        <h4>Co-Founder, CTO</h4>
        <p>"I'm not one of those people who wakes up and thinks, 'Bring on the day!' I have to have about 7 pints of coffee before I'm even remotely awake. But I love the golden hour in the evening, as hokey as that sounds. Just as the sun is about to set and you get those lovely shadows and everything looks gold and yellow."Stacy London</p>
        <ul>
            <li>
                <a href="https://www.facebook.com/velky.karel" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook-square fa-stack-2x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank">
                    <span class="fa-stack fa-lg">
                            <i class="fa fa-instagram fa-stack-2x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 fh5co-staff">
        <i class="fa fa-user" style="font-size:150px;"></i>
        <h3>Lybor Chyla</h3>
        <h4>Co-Founder, Principal</h4>
        <p>"I'm glad I was born when I was. My time was the golden age of variety. If I were starting out again now, maybe things would happen for me, but it certainly would not be on a variety show with 28 musicians, 12 dancers, two major guest stars, 50 costumes a week by Bob Mackie. The networks just wouldn't spend the money today."Carol Burnett</p>
        <ul>
            <li>
                <a href="https://www.facebook.com/Flexicek" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-facebook-square fa-stack-2x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank">
                    <span class="fa-stack fa-lg">
                            <i class="fa fa-instagram fa-stack-2x"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>